<!-- <div>
	<a href="">new pokemans</a>
	<div>
		<h5>pokemans...</h5>
		<ul>
			<% for (i in pokemons) { %>
				<li>
					<a href="pokemons/<%= pokemons[i]._id %>"><%= pokemons[i].name %></a>
					<p><%= pokemons[i].quote %></p>
					<a href="<%= /pokemons[i]._id %>/edit">edit</a>
					<form action="/<%= pokemons[i]._id/delete" method="post">
						<input type="submit" value="delete">
					</form>
				</li>
			<% } %>
		</ul>
	</div>
</div>

<p>blob</p> -->